/* ========== BASE ========== */
body {
  color: #000;
  background: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* section:not(#home),
section * {
  scroll-margin-top: 50px;
} */

a {
  color: inherit;
  transition: 0.3s ease-in-out;
}
a:hover {
  opacity: 0.8;
}

/* ========== CONTAINER ========== */
.container {
  width: 100%;
  max-width: 1510px;
  padding: 0 clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
  margin: 0 auto;
}

/* custom code starts here header and banner section */

/* custom code ends here header and banner section */
