/* Glancyr-Thin - latin */
@font-face {
  font-family: "Glancyr";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-Thin.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-Thin.otf") format("opentype");
}
/* Glancyr-ThinItalic - latin */
@font-face {
  font-family: "Glancyr";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-ThinItalic.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-ThinItalic.otf") format("opentype");
}
/* Glancyr-ExtraLight - latin */
@font-face {
  font-family: "Glancyr";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-ExtraLight.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-ExtraLight.otf") format("opentype");
}
/* Glancyr-ExtraLightItalic - latin */
@font-face {
  font-family: "Glancyr";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-ExtraLightItalic.woff2")
      format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-ExtraLightItalic.otf") format("opentype");
}
/* Glancyr-Light - latin */
@font-face {
  font-family: "Glancyr";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-Light.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-Light.otf") format("opentype");
}
/* Glancyr-LightItalic - latin */
@font-face {
  font-family: "Glancyr";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-LightItalic.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-LightItalic.otf") format("opentype");
}
/* Glancyr-Regular - latin */
@font-face {
  font-family: "Glancyr";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-Regular.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-Regular.otf") format("opentype");
}
/* Glancyr-Italic - latin */
@font-face {
  font-family: "Glancyr";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-Italic.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-Italic.otf") format("opentype");
}
/* Glancyr-Medium - latin */
@font-face {
  font-family: "Glancyr";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-Medium.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-Medium.otf") format("opentype");
}
/* Glancyr-MediumItalic - latin */
@font-face {
  font-family: "Glancyr";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-MediumItalic.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-MediumItalic.otf") format("opentype");
}
/* Glancyr-SemiBold - latin */
@font-face {
  font-family: "Glancyr";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-SemiBold.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-SemiBold.otf") format("opentype");
}
/* Glancyr-SemiBoldItalic - latin */
@font-face {
  font-family: "Glancyr";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-SemiBoldItalic.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-SemiBoldItalic.otf") format("opentype");
}
/* Glancyr-Bold - latin */
@font-face {
  font-family: "Glancyr";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-Bold.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-Bold.otf") format("opentype");
}
/* Glancyr-BoldItalic - latin */
@font-face {
  font-family: "Glancyr";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/Glancyr/Glancyr-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/Glancyr/Glancyr-BoldItalic.otf") format("opentype");
}
